.header {
    background: lightblue;
    padding-left: 12%;
    padding-right: 12%;

};

.headerInside{
    width: 75%;
    margin: auto;
    height: 60px
}

.logo{
    max-width:100%;
}


.heading{
    text-align: center;
    font-family: verdana;
    font-size: 300%;
}

.hourly{
    margin: 0%;
}

.background{
    margin-left: 15%;
    margin-right: 15%;
    width: 75%;
    background: lightgrey;
}

.headingSmall{
    text-align: center;
    font-family: verdana;
    font-size: 150%;
}

.hourlyTd{
    width: 20%;
    padding: 10px;
    vertical-align: center;
}

.titleTd{
    text-align: center;
    font-weight: bold;
}

.srcTd{
    text-align: center;
    font-style: italic
}
.infoTd{
    text-align: center;
}

.hourlyPic{
    height: 100%;
    align: center;
}

.tagTable{
    width: 100%;
    padding: 5px;
    font-family: verdana;
}

.searchButton{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.divCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.recipePic{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.title{
    text-align: center;
    font-family: verdana;
    font-size: 120%;
}
